.vscode/**/*
.gitignore
node_moduels/*
src/**/*
client/src/**/*
server/src/**/*
examples/*
scripts/*
out/tests/**/*
**/*.js.map
*.vsix
appveyor.yml
.travis.yml
.prettierrc
tsconfig.base.json
tsconfig.json
tslint.json
examples/*